<div class="container">
  <h1>Contact Manager</h1>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success mx-2" type="button" routerLink="">
        <i class="bi-journal-bookmark me-1"></i> Contacts List
      </button>
      <button
        class="btn btn-outline-success mx-2"
        type="button"
        routerLink="new-contact"
      >
        <i class="bi-plus-circle me-1"></i> Add Contact
      </button>
    </form>
  </nav>
  <router-outlet></router-outlet>
</div>
