<div class="contact-card">
  <div class="card mt-3 border-success shadow">
    <div class="card-header bg-success bg-opacity-50">
      <h3 class="contact-name">{{ contact.fname + " " + contact.lname }}</h3>
    </div>
    <div class="card-body ps-4">
      <br />
      <p class="contact-info">
        <i class="bi-telephone-fill me-2 text-success"></i> {{ contact.phone
        }}<br />
        <i class="bi-envelope-fill me-2 text-success"></i> {{ contact.email }}
      </p>
      <hr />
      <div class="contact-manage">
        <form class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-success mx-2 rounded-pill"
            [routerLink]="['edit-contact', index]"
          >
            Edit Contact
          </button>
          <button
            type="button"
            class="btn btn-danger mx-2 rounded-pill"
            (click)="OnDeleteContact(index)"
          >
            Delete Contact
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
